#Top
    {
        display: block;
        background-color: #333;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: #f2f2f2;        
    }

#Top_center 
    {              
        display: block;
        text-align: center;
        color: gainsboro;
        width: 100%;
        margin-bottom: 10px;
    }
            
#Top_center  p,h2,h4 
    {
        margin: 0;
    }

.highlight
    {
        color: linen;
       
    }
.highlight:hover
    {
        font-size: 34px;
        text-shadow: 0 0 20px rgba(255,255,255,1),0 0 70px #00ffff;
    }

#Container
    {
      
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        margin: auto;
        margin-top: 10px;
        width:80%;
        height:90vh;                
    }
#box2
{
    float: left;
    padding-left: 20px;
    margin-right: 120px;

}
